* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-wrapper .signup-card {
    margin: 0;
    padding: 0;
    /* width: 70%; */
    overflow: hidden;
}

.signup-wrapper .signup-card form {
    padding: 1.5rem;
}

.signup-wrapper .signup-card .card-title {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #009da7;
    color: white;
    padding: 1rem 0;
}

.signup-wrapper .signup-card .card-content {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.signup-wrapper .signup-card .form-field {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.signup-wrapper .signup-card .input-full-width {
    width: 100%;
}

.signup-wrapper .signup-card .card-actions {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    margin-bottom: 1.5rem;
}

/* .signup-wrapper .signup-card .card-actions a {
    padding: 0 .5rem;
} */

/* .signup-wrapper .signup-card .card-footer {
    margin: 0;
    padding: 0;
    text-align: center;
}

.signup-wrapper .signup-card .card-footer a {
    width: 100%;
} */

.signup-wrapper .signup-card .mat-btn {
    margin: 0;
    padding: 0;
}

.signup-wrapper .signup-card .mat-btn-stroked {
    margin: 0;
    padding: 0;
    border: 1px solid #ff4081;
}

/* .signup-wrapper .signup-card .register-btn {
    width: 100px;
} */

.signup-wrapper .signup-card .otp-container {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: .25rem;
    justify-content: space-between;
}

.signup-wrapper .signup-card .otp-container .otp-header {
    grid-column: 1 / span 4;
}

.signup-wrapper .signup-card .otp-container .otp-title {
    color: #545454;
    font-size: 15px;
    margin-bottom: .25rem;
}

.signup-wrapper .signup-card .otp-container .otp-subtitle {
    color: #727272;
    font-size: 12px;
}

.signup-wrapper .signup-card .otp-container .otp-info {
    color: #727272;
    font-size: 12px;
}

.signup-wrapper .signup-card .otp-container .form-field {
    min-width: 0px;
    max-width: 84px;
}

.signup-wrapper .signup-card .otp-container .form-field input {
    text-align: center;
}

.signup-wrapper .signup-card .error-alert {
    margin-bottom: 1rem;
    padding: .5rem;
    background: rgb(255, 230, 230);
    color: red;
    border-left: 5px solid red;
    border-radius: 5px;
    overflow: hidden;
}

.signup-wrapper .signup-card .error-alert i {
    margin: 0 .25rem;
}

.signup-wrapper .signup-card .success-alert {
    margin-bottom: 1rem;
    padding: .5rem;
    background: rgb(230, 255, 230);
    color: green;
    border-left: 5px solid green;
    border-radius: 5px;
    overflow: hidden;
}

.signup-wrapper .signup-card .success-alert i {
    margin: 0 .25rem;
}