<div class="signup-wrapper">
    <mat-card class="signup-card">
        <mat-card-title class="card-title">Register</mat-card-title>
        <form [formGroup]="register" (ngSubmit)="registerUser()">
            <mat-card-content class="card-content">
                <mat-form-field class="form-field input-full-width" appearance="outline">
                    <mat-label>Select Role</mat-label>
                    <mat-select name="usertype" formControlName="usertype">
                      <mat-option value="operator">Operator</mat-option>
                      <mat-option value="doctor">Doctor</mat-option>
                      <mat-option value="patient">Patient</mat-option>
                    </mat-select>
                    <mat-error *ngIf="register.controls['usertype'].invalid">{{getUsertypeErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="form-field input-full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" name="username" formControlName="username" matInput>
                    <mat-error *ngIf="register.controls['username'].invalid">{{getUsernameErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="form-field input-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" name="email" formControlName="email" matInput>
                    <mat-error *ngIf="register.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="form-field input-full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" name="password" formControlName="password" matInput>
                    <mat-error *ngIf="register.controls['password'].invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="card-actions">
                <button [disabled]="register.invalid" class="mat-btn register-btn" mat-raised-button color="accent">Register</button>
                <a class="mat-btn" mat-button href="/">Forgot Password?</a>
            </mat-card-actions>
            <mat-card-footer class="card-footer">
                <a class="mat-btn" mat-button routerLink="/auth/login">Have an account? Log In</a>
            </mat-card-footer>
        </form>
    </mat-card>
</div>